.container {
    background-image: url('../../../assets/home3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .left {
    width: 66.666%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #fff;
  }
  
  .right {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 200px;
    height: 50px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .primary {
    background-color: #f44336;
    color: #fff;
  }
  
  .accent {
    background-color: #3f51b5;
    color: #fff;
  }
  
  .warn {
    background-color: #009688;
    color: #fff;
  }
  
  /* Animations */
  
  .fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    transform: translateX(-50px);
    animation-fill-mode: forwards;
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    transform: translateX(50px);
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  